'name': 'ASP-Core-2'
'scopeName': 'source.asp-core-2'
'filetypes':[
  'lp'
]
'patterns':[
  {
    'begin': '%\\*'
    'end': '\\*%'
    'name': 'comment.asp-core-2'
  }
  {
    'begin': '%'
    'end': '\\n'
    'name': 'comment.asp-core-2'
  }
  {
    'match': '\\bnot\\b'
    'name': 'keyword.other.asp-core-2'
  }
  {
    'match': '[a-z][A-Za-z0-9_]*'
    'name': 'entity.name.function.asp-core-2'
  }
  {
    'match': '[A-Z][A-Za-z0-9_]*'
    'name': 'variable.asp-core-2'
  }
  {
    'match': '\"([^\"]|\\\")*\"'
    'name': 'string.asp-core-2'
  }
  {
    'match': '0|[1-9][0-9]*'
    'name': 'constant.numeric.asp-core-2'
  }
  {
    'match': '(#count|#max|#min|#sum)'
    'name': 'keyword.asp-core-2'
  }
]
